@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

//== Global styles
//

$red: #ff6961;
$green: #77DD77;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source sans pro', 'Helvetica', sans-serif;
}

.title {
  text-align: center;
  margin: 0;
  padding: 2rem 2rem 2.4rem;
}

.small-caps {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  color: #555;
}
h1 {
  font-size: 36px;
}

//== Options section
//

.options {
  background-color: #f4f4f4;
  padding: 2rem 2.4rem;
  border-radius: 5px;
  margin: 0 2rem 2rem;
  text-align: center;
}

select {
  min-width: 160px;
  padding: 8px 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
}


//== Chart section
//

.chart-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}
.chart-title {
  position: absolute;
  top:  1rem;  left: 1rem;
  margin: 0;
  color: #777;
}

svg, canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
}

svg {
  fill: transparent;
  margin-bottom: 40px;

  .up {
    stroke: $green;
  }
  .down {
    stroke: $red;
  }
}
